@import 'mixins';
*{
  @include clear-style;
  box-sizing:border-box;
  //取消谷歌的默认样式
  outline:none;
}
@include useRem(1080px);
@font-face {
  font-family:'apple';
  src:url(word/myriad-set-pro_text.woff);
}
@font-face {
  font-family:'iconfont';
  src:url(icon/iconfont.woff);
}
@font-face {
  font-family:'iconfont1';
  src:url(icon/iconfont1.woff);
}
@font-face {
  font-family:'iconfont2';
  src:url(icon/iconfont2.woff);
}
.iconfont {
  font-family:"iconfont" !important;
}
.iconfont1 {
  font-family:"iconfont1" !important;
}
.iconfont2 {
  font-family:"iconfont2" !important;
}
.icon-wancheng:before { content: "\e650"; }
.icon-wancheng1:before { content: "\e7dc"; }
.icon-tijiao1:before { content: "\e668"; }
.icon-xiugai:before { content: "\e6d6"; }
.icon-xiugai:before { content: "\e6d6"; }
.icon-xiugai1:before { content: "\e706"; }
.icon-xiugai3:before { content: "\e63d"; }
.icon-tianjia:before { content: "\e644"; }
.icon-tianjia1:before { content: "\e639"; }
.icon-tianjia2:before { content: "\e634"; }
.icon-renwu:before { content: "\e71a"; }
.icon-todolist:before { content: "\e7f1"; }
//头部
.head{
  width:100%;
  height:1.2rem;
  background:rgba(176,220,213,1);
  font-family:'apple';
  span{
    font-size:0.8rem;
    color:rgba(255,255,255,1);
    line-height:1.2rem;
  }
}
//搜索
.input{
  width:100%;
  height:1.2rem;
  background:rgba(239,199,189,1) ;
  position: relative;
  padding:0 0.5rem;
  input{
    width:70%;
    height:80%;
    border-radius:0.4rem;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    font-size:0.4rem;
    padding-left:15px;
  }
  .icon-renwu:before {
    content: "\e71a";
    font-size:0.8rem;
    color:#fff;
    line-height:1.2rem;
    float:left;
  }
  .icon-tianjia:before {
    content: "\e644";
    font-size:0.8rem;
    color:#fff;
    line-height:1.2rem;
    float:right;
  }
}

//选项
.set {
  width: 100%;
  height: 1.2rem;
  background: rgba(239, 199, 189, 1);
  position: relative;
  padding: 0 0.5rem;
  margin-top: 0.05rem;
  span {
    font-size: 0.4rem;
    line-height: 1.2rem;
    margin-right: 0.3rem;
    float: left;
    color: #fff;
  }
  .cir{
    width:0.5rem;
    height:0.5rem;
    border:1px solid #fff;
    border-radius:50%;
    float:right;
    margin-top:0.35rem;
    margin-left:0.4rem;
    position: relative;
    .icon-wancheng3:before {
      font-size:0.4rem;
      content: "\e670";
      color:#fff;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      margin:auto;
      display:none;
    }
  }
  .icon-shanchu:before {
    content: "\e61c";
    font-size:0.6rem;
    margin-top:0.2rem;
    color:#fff;
    float:right;
  }
}
//set事件
.set {
    span{
      &.complete{
      text-decoration: underline;
      font-weight: 600;
    }
  }
  &.click{
    .icon-wancheng3:before{
      display:block;
    }
  }
}

//列表
.lists{
  width:100%;
  height:auto;
  overflow: hidden;
  &::after{
    content:'';
    clear:both;
    display: block;
  }
  .list{
    width:100%;
    height:2rem;
    background:rgba(253,231,198,1) ;
    margin: 2px auto;
    padding-right:0.5rem;
    padding-left:0.8rem;
    position: relative;
    transition:transform 0.8s ease,opacity 0.8s ease;
    .content{
      width:75%;
      height:100%;
      float:left;
      padding-left:10px;
      position: relative;
      span{
        font-size:0.5rem;
        line-height:2rem;
      }
      .delete {
        width:100%;
        height:2px;
        background: #fff;
        position: absolute;
        top:0;
        bottom:0;
        margin:auto;
        display:none;
      }
    }
    .icon-xiugai2:before {
      content: "\e647";
      font-size:0.7rem;
      margin-top:0.5rem;
      color:#fff;
      float:right;
    }
    .icon-wancheng2:before {
      content: "\e63b";
      font-size:0.6rem;
      color:#fff;
      position: absolute;
      top:0.7rem;
      right:1.5rem;
      display: none;
    }
    .cir{
      width:0.5rem;
      height:0.5rem;
      border:1px solid #fff;
      border-radius:50%;
      float:right;
      margin-top:0.75rem;
      margin-left:0.5rem;
      position:relative;
      .icon-wancheng3:before {
        font-size:0.4rem;
        content: "\e670";
        color:#fff;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        display:none;
      }
    }
    input{
      width:70%;
      height:1.5rem;
      background:#fff ;
      position: absolute;
      top:0;
      bottom:0;
      margin:auto;
      border-radius:0.5rem;
      font-size:0.4rem;
      padding-left:15px;
      display: none;
    }
  }
}
@keyframes aa {
  0%{transform:translate3d(0,0,0)}
  100%{transform:translate3d(-100%,0,0)}
}
//list事件
.lists .list{
  //列表飞走
  &.fly{
    animation:aa 2s ease 0.8s both ;
  }
  //列表缩小
  &.small{
    transform:scale(0.8,0.7);
    opacity:0.5;
  }
  //滑动删除
  &.move-del{
    .content{
      span{
        color:#fff;
      }
      .delete{
        background: #fff;
        display:block;
      }
    }
    .icon-xiugai2:before{
      display:none;
    }
  }
  //修改
  &.revise{
    .content,.icon-xiugai2:before{
      display:none;
    }
    input,.icon-wancheng2:before{
      display:block;
    }
  }
  //删除
  &.click{
    .icon-wancheng3:before{
      display:block;
    }
  }
}
  




